body {
  height: 100%;
  background-color: FDFDFD;

}
.container {
   min-height: 100%;
   margin-bottom: -100px;

}
.container:after {
   content: "";
   display: block;
   height: 100px;
}

.item-image {
  object-fit: cover;
}
footer {
   height: 10px;
   background-colour: #FDFDFD;
}
