body {
  height: 100%;
  background-color: #FDFDFD;

}

.title {
  font-weight: 400;
  font-size: 1.5rem;
}
// .container {
//    min-height: 100%;
//    margin-bottom: -100px;
//
// }
// .container:after {
//    content: "";
//    display: block;
//    height: 75px;
// }
.hero-body {
  box-sizing: inherit;
}

h1.title {
  font-size: 40px;
  margin-top: 5px;
  color: #C71585;
  background-color: #FDFDFD 0.6;
}

h2.subtitle {
  margin-top: 0;
  padding-top: 0;
  color: #C71585;
}

section.hero {
  background-size: cover;
  background-position: center;
  height: 15rem;
  width: 100%;
  margin-bottom: 30px;
}


.item-image {
  object-fit: cover;
  max-width: 300px;
  max-height: auto;
}

.item-display {
  max-width: 400px;
  max-height: auto;
}
footer {
   height: 10px;
   background-colour: #FDFDFD;
}
