body {
  height: 100%;
  background-color: #FDFDFD;

}

.title {
  font-weight: 400;
  font-size: 1.5rem;
}
.container {
   min-height: 100%;
   margin-bottom: -100px;

}
.container:after {
   content: "";
   display: block;
   height: 100px;
}
.hero-body {
  box-sizing: inherit;
}


h1, h2 .herotitle {
  color: #C71585;
}

.hero {
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}


.item-image {
  object-fit: cover;
  max-width: 200px;
  max-height: auto;
}

.item-display {
  max-width: 400px;
  max-height: auto;
}
footer {
   height: 10px;
   background-colour: #FDFDFD;
}
